BuildTools/*
Alps/*
Ipopt/*
Bcp/*
Bcps/*
Blis/*
Bonmin/*
MibS/*
BuildTools/*
OS/*
Osi/*
cppad/*
Cbc/*
Cgl/*
Clp/*
SYMPHONY/*
examples/*
Smi/*
CoinMP/*
ThirdParty/*
CoinUtils/*
Vol/*
Couenne/*
CppAD/*
Data/*
Dip/*
DyLP/*
FlopCpp/*
DisCO/*
COIN-OR-OptimizationSuite/*
build*
tmp/*
dist/*